@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-color: #e1e1e1;
}

.stripe-input {
  border: solid 1px var(--gray-color);
  padding: 1rem;
  border-radius: var(--rounded-btn, 0.5rem);
}
