form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 2rem 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

input, .input {
  height: calc(64px * .8);
  border: solid 1px var(--sl-color-gray-5);
  padding: 1rem;
  border-radius: 8px;
  background: var(--sl-color-black);
}

input:focus, .input:focus {
  border: solid 1px var(--sl-color-accent);
}

.input:focus-within {
  border: solid 1px var(--sl-color-accent);
}

.row .input {
  width: 20%;
}

button {
  border: solid 1px #ccc;
  background: var(--sl-color-text-accent);
  color: var(--sl-color-black);
  border-radius: 5px;
  font-size: var(--sl-text-base);
  padding: 1rem 1.25rem;
  line-height: 1.1875;
  cursor: pointer;
}
